@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: radial-gradient(circle at top, #111 0%, #000 80%);
  color: #ededed;
  font-family: 'Inter', sans-serif;
}

.gold-text {
  color: #D4AF37;
}

.gold-border {
  border-color: #D4AF37;
}

.gold-bg {
  background-color: #D4AF37;
}
